version: '2.3'

volumes:
  db:
  data:
  document_data:
  document_log:
  elasticsearch_data:

services:
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    restart: unless-stopped
    networks:
      - default
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD 
      - MYSQL_LOG_CONSOLE=true
      # https://github.com/go-gitea/gitea/issues/25970#issuecomment-1641025026
      - MARIADB_AUTO_UPGRADE=true
    volumes:
      - db:/var/lib/mysql 
    
  memcached:
    image: memcached:1.6.18
    container_name: seafile-memcached
    restart: unless-stopped
    networks:
      - default
    entrypoint: memcached -m 256

  elasticsearch:
    image: elasticsearch:8.6.2
    container_name: seafile-elasticsearch
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 2g
    networks:
      - default
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data  # Requested, specifies the path to Elasticsearch data persistent store.
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - xpack.security.enabled=false # Disable TLS
    
    
  seafile:
    image: docker.seadrive.org/seafileltd/seafile-pro-mc:11.0-latest
    restart: unless-stopped
    container_name: seafile
    volumes:
      - data:/shared 
      - ./conf:/shared/seafile/conf
    environment:
      - DB_HOST=db
      - DB_ROOT_PASSWD=$MYSQL_ROOT_PASSWORD  # Requested, the value shuold be root's password of MySQL service.
      - TIME_ZONE=Europe/Berlin  # Optional, default is UTC. Should be uncomment and set to your local time zone.
      - SEAFILE_ADMIN_EMAIL=admin@l3s.io # Specifies Seafile admin user, default is 'me@example.com'.
      - SEAFILE_ADMIN_PASSWORD=$SEAFILE_ADMIN_PASSWORD     # Specifies Seafile admin password, default is 'asecret'.
      - SEAFILE_SERVER_LETSENCRYPT=false   # Whether to use https or not.
      - SEAFILE_SERVER_HOSTNAME=seafile.l3s.io # Specifies your host name if https is enabled.
    depends_on:
      - db
      - memcached
      - elasticsearch
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"

      - "traefik.http.routers.seafile.rule=Host(`seafile.l3s.io`)"
      - "traefik.http.routers.seafile.entrypoints=websecure"
      - "traefik.http.routers.seafile.service=seafile"
      - "traefik.http.routers.seafile.middlewares=redirect-sso"
     
      - "traefik.http.services.seafile.loadbalancer.server.port=80"

      - "traefik.http.routers.seafdav.rule=Host(`seafile.l3s.io`) && PathPrefix(`/seafdav`)"
      - "traefik.http.routers.seafdav.entrypoints=websecure"
      - "traefik.http.routers.seafdav.service=seafdav"
     
      - "traefik.http.services.seafdav.loadbalancer.server.port=8080"

      - "traefik.http.middlewares.redirect-sso.redirectregex.regex=https://seafile.l3s.io/accounts/login/(.*)"
      - "traefik.http.middlewares.redirect-sso.redirectregex.replacement=https://seafile.l3s.io/sso/$${1}"


  onlyoffice-document-server:
    container_name: onlyoffice-document-server
    image: onlyoffice/documentserver:latest
    restart: unless-stopped
    networks:
      - proxy
      - default
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice
      # - ./onlyoffice/local-production-linux.json:/etc/onlyoffice/documentserver/local-production-linux.js
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=$ONLYOFFICE_JWT_SECRET
      # Reduce ram useage https://github.com/ONLYOFFICE/Docker-DocumentServer/issues/69
      - NGINX_WORKER_PROCESSES=1
      - NGINX_WORKER_CONNECTIONS=1024
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck/"]
      interval: 3m
      timeout: 10s
      retries: 3
      start_period: 2m
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.onlyoffice-document-server.rule=Host(`onlyoffice.l3s.io`)"
      - "traefik.http.routers.onlyoffice-document-server.entrypoints=websecure"
      - "traefik.http.routers.onlyoffice-document-server.middlewares=onlyoffice-headers"
      - "traefik.http.services.onlyoffice-document-server.loadbalancer.server.port=80"

      ## Middleware definition
      # Headers for onlyoffice, https://github.com/ONLYOFFICE/onlyoffice-nextcloud/issues/151
      - "traefik.http.middlewares.onlyoffice-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.onlyoffice-headers.headers.accesscontrolalloworiginlist=*"

  seafile-logs:
    image: grafana/promtail
    container_name: seafile-logs
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./promtail.yml:/etc/promtail/promtail.yml
      - data:/shared:ro
      - document_log:/document_log:ro
    command: -config.file=/etc/promtail/promtail.yml


networks:
  default:
  proxy:
    external: true
