version: "3.7"

volumes:
    grafana:
    prometheus:
    loki:

services:
    grafana:
        image: grafana/grafana:10.1.4
        container_name: grafana
        restart: always
        user: "1000"
        networks:
            - proxy
            - default
        volumes:
            - grafana:/var/lib/grafana
        environment:
            GF_SERVER_ROOT_URL: https://grafana.l3s.patzke.me/
            GF_SERVER_DOMAIN: grafana.l3s.patzke.me
            GF_SESSION_COOKIE_SECURE: "true"
            GF_USERS_AUTO_ASSIGN_ORG: "true"
            GF_AUTH_ANONYMOUS_ENABLED: "false"
            GF_AUTH_BASIC_ENABLED: "false"
            GF_AUTH_PROXY_ENABLED: "false"
            GF_AUTH_OAUTH_AUTO_LOGIN: "true"
            GF_AUTH_OAUTH_ALLOW_INSECURE_EMAIL_LOOKUP: "true"
            GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
            GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP: "true"
            GF_AUTH_GENERIC_OAUTH_NAME: "Keycloak"
            GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "grafana"
            GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: $GRAFANA_CLIENT_SECRET
            GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email roles
            GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_STRICT: "true"
            GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH:
                contains(resource_access.grafana.roles[*],
                'grafana_admin') && 'Admin' ||
                contains(resource_access.grafana.roles[*], 'grafana_editor') && 'Editor' ||
                contains(resource_access.grafana.roles[*], 'grafana_viewer') &&
                'Viewer'
            GF_AUTH_GENERIC_OAUTH_AUTH_URL:
                "https://auth.l3s.patzke.me/realms/l3s/protocol/\
                openid-connect/auth"
            GF_AUTH_GENERIC_OAUTH_TOKEN_URL:
                "https://auth.l3s.patzke.me/realms/l3s/protocol/\
                openid-connect/token"
            GF_AUTH_GENERIC_OAUTH_API_URL:
                "https://auth.l3s.patzke.me/realms/l3s/protocol/\
                openid-connect/userinfo"
            GF_AUTH_SIGNOUT_REDIRECT_URL:
                "https://auth.l3s.patzke.me/realms/l3s/protocol/\
                openid-connect/logout"
            GF_SMTP_ENABLED: "true"
            GF_SMTP_HOST: hosted.mailcow.de:465
            GF_SMTP_USER: grafana@patzke.me
            GF_SMTP_PASSWORD: $SMTP_PASSWORD
            GF_SMTP_FROM_ADDRESS: grafana@patzke.me
            GF_RENDERING_SERVER_URL: http://grafana-renderer:8081/render
            GF_RENDERING_CALLBACK_URL: http://grafana:3000/
            GF_LOG_FILTERS: rendering:debug
            GF_PANELS_DISABLE_SANITIZE_HTML: "true"
            GF_INSTALL_PLUGINS:
                "https://github.com/LukasPatzke/grafana-direction-panel/rel\
                eases/download/v1.0.0/lukaspatzke-direction-panel-1.0.0.zip;luk\
                aspatzke-direction-panel"
            GF_UNIFIED_ALERTING_ENABLED: "true"
            GF_UNIFIED_ALERTING_SCREENSHOTS_CAPTURE: "true"
            GF_UNIFIED_ALERTING_SCREENSHOTS_UPLOAD_EXTERNAL_IMAGE_STORAGE: "true"
            GF_EXTERNAL_IMAGE_STORAGE: "local"
            GF_ALERTING_ENABLED: "false"

        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.grafana.rule=Host(`grafana.l3s.patzke.me`)"
            - "traefik.http.routers.grafana.entrypoints=websecure"
            - "diun.watch_repo=true"
            - "diun.include_tags=latest"

    grafana-renderer:
        image: grafana/grafana-image-renderer:latest
        container_name: grafana-renderer
        restart: always
        environment:
            ENABLE_METRICS: "true"

    prometheus:
        image: prom/prometheus:v2.40.7
        container_name: prometheus
        restart: always
        networks:
            - proxy
            - default
        volumes:
            - prometheus:/prometheus
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.retention.time=60d"
            - "--web.enable-admin-api"
            - "--enable-feature=promql-negative-offset"
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.prometheus.rule=Host(`prometheus.l3s.patzke.me`)"
            - "traefik.http.routers.prometheus.entrypoints=websecure"
            - "traefik.http.routers.prometheus.middlewares=local-ip"
            - "diun.watch_repo=true"
            - "diun.include_tags=latest"

    # cadvisor:
    #     image: gcr.io/google-containers/cadvisor:latest
    #     container_name: cadvisor
    #     restart: always
    #     networks:
    #         - default
    #     security_opt:
    #         - no-new-privileges:true
    #     volumes:
    #         - /:/rootfs:ro
    #         - /var/run/docker.sock:/var/run/docker.sock:ro
    #         - /var/run:/var/run:rw
    #         - /sys:/sys:ro
    #         - /var/lib/docker/:/var/lib/docker:ro
    #         - /sys/fs/cgroup:/cgroup:ro
    #         - /dev/disk/:/dev/disk:ro
    #     devices:
    #         - /dev/kmsg:/dev/kmsg
    #     command:
    #         - '-housekeeping_interval=10s'
    #         - '-docker_only=true'
    #         - '-allow_dynamic_housekeeping=false'

    node-exporter:
        image: prom/node-exporter:latest
        container_name: node-exporter
        restart: unless-stopped
        networks:
            - default
        volumes:
            - /etc/localtime:/etc/localtime:ro
            - /etc/timezone:/etc/timezone:ro
            - /proc:/host/proc:ro
            - /sys:/host/sys:ro
            - /:/rootfs:ro
        command:
            - "--path.procfs=/host/proc"
            - "--path.sysfs=/host/sys"
            - "--path.rootfs=/rootfs"
            - '--collector.filesystem.mount-points-exclude="^(/rootfs|/host|)/(sys|proc|dev|host|etc)($$|/)"'
            - '--collector.filesystem.fs-types-exclude="^(sys|proc|auto|cgroup|devpts|ns|au|fuse\.lxc|mqueue)(fs|)$$"'
            - "--collector.powersupplyclass"

    snmp-exporter:
        image: prom/snmp-exporter
        container_name: snmp-exporter
        restart: unless-stopped
        networks:
            - default
        volumes:
            - ./snmp_exporter:/etc/snmp_exporter

    unifi-poller:
        image: golift/unifi-poller:latest
        container_name: unifi-poller
        restart: unless-stopped
        environment:
            UP_INFLUXDB_DISABLE: "true"
            UP_POLLER_DEBUG: "false"
            UP_UNIFI_DYNAMIC: "false"
            UP_PROMETHEUS_HTTP_LISTEN: 0.0.0.0:9130
            UP_PROMETHEUS_NAMESPACE: unifipoller
            UP_UNIFI_CONTROLLER_0_PASS: $UP_UNIFI_CONTROLLER_0_PASS
            UP_UNIFI_CONTROLLER_0_SAVE_ALARMS: "true"
            UP_UNIFI_CONTROLLER_0_SAVE_ANOMALIES: "true"
            UP_UNIFI_CONTROLLER_0_SAVE_DPI: "true"
            UP_UNIFI_CONTROLLER_0_SAVE_EVENTS: "true"
            UP_UNIFI_CONTROLLER_0_SAVE_IDS: "true"
            UP_UNIFI_CONTROLLER_0_SAVE_SITES: "true"
            UP_UNIFI_CONTROLLER_0_URL: https://unifi.l3s.patzke.me
            UP_UNIFI_CONTROLLER_0_USER: lukas
            UP_LOKI_URL: https://loki.l3s.patzke.me

networks:
    proxy:
        external: true
    default: null
