version: "3.7"

volumes:
  sabnzbd:
  radarr:
  plex:

services:
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - UMASK_SET=022 #optional
      - PLEX_CLAIM=claim-qdhxhYGDyVCW1MT9i51R #optional
    volumes:
      - plex:/config
      - /mnt/media/movies:/movies
    restart: unless-stopped
    labels: 
      - "traefik.enable=true"
      # - "traefik.docker.network=proxy"
      - "traefik.http.routers.plex.rule=Host(`plex.l3s.io`)"
      - "traefik.http.routers.plex.entrypoints=websecure"
      # - "traefik.http.routers.plex.middlewares=auth"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"

networks:
  proxy:
      external: true
  default:
  