services:
    postgresql:
        env_file:
            - .env
        environment:
            POSTGRES_DB: ${PG_DB:-authentik}
            POSTGRES_PASSWORD: ${PG_PASS:?database password required}
            POSTGRES_USER: ${PG_USER:-authentik}
        networks:
            - default
        healthcheck:
            interval: 30s
            retries: 5
            start_period: 20s
            test:
                - CMD-SHELL
                - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
            timeout: 5s
        image: docker.io/library/postgres:16-alpine
        restart: unless-stopped
        volumes:
            - database:/var/lib/postgresql/data
    server:
        command: server
        depends_on:
            postgresql:
                condition: service_healthy
        networks:
            - default
            - proxy
        env_file:
            - .env
        environment:
            AUTHENTIK_POSTGRESQL__HOST: postgresql
            AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
            AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
            AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
            AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?secret key required}
        image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.12.2}
        restart: unless-stopped
        volumes:
            - ./data:/data
            - ./custom-templates:/templates
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.authentik.rule=Host(`authentik.l3s.patzke.me`)"
            - "traefik.http.routers.authentik.entrypoints=websecure"
            - "traefik.http.routers.authentik.service=authentik"
            - "traefik.http.services.authentik.loadbalancer.server.port=9000"
    worker:
        command: worker
        depends_on:
            postgresql:
                condition: service_healthy
        env_file:
            - .env
        networks:
            - default
        environment:
            AUTHENTIK_POSTGRESQL__HOST: postgresql
            AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
            AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
            AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
            AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?secret key required}
        image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.12.2}
        restart: unless-stopped
        user: root
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./data:/data
            - ./certs:/certs
            - ./custom-templates:/templates
volumes:
    database:
        driver: local

networks:
    proxy:
        external: true
    default:
