version: "3.7"

volumes:
    ssl:

services: 
    traefik:
        image: traefik
        container_name: traefik
        restart: always
        ports:
            - 80:80
            - 443:443
            - 127.0.0.1:8000:8000
            - 1883:1883
            - 8883:8883
        networks: 
            - proxy
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ssl:/letsencrypt
            - ./traefik:/traefik
        environment: 
            - OVH_ENDPOINT=ovh-eu
            - OVH_APPLICATION_KEY=$OVH_AK
            - OVH_APPLICATION_SECRET=$OVH_AS
            - OVH_CONSUMER_KEY=$OVH_CK
        command: 
            # logs
            #- "--log.level=DEBUG"
            #- "--accesslog=true"
            # metrics
            - "--metrics.prometheus=true"
            - "--entryPoints.metrics.address=:8082"
            - "--metrics.prometheus.entryPoint=metrics"
            # dashboard
            - "--api.dashboard=true"
            # docker provider
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            # file provider
            - "--providers.file.filename=/traefik/dynamic.yml"
            - "--providers.file.watch=true"
            # web http entrypoint
            - "--entrypoints.web.address=:80"
            - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
            - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
            # websecure https entrypoint
            - "--entrypoints.websecure.address=:443"
            - "--entrypoints.websecure.http.tls.certresolver=letsencrypt"
            - "--entrypoints.websecure.http.tls.options=modern@file"
            # local api http entrypoint
            - "--entrypoints.local-api.address=:8000"
            # mqtt entrypoint
            - "--entrypoints.mqtt.address=:1883"
            - "--entrypoints.mqtts.address=:8883"
            # letsencrypt cert resolver
            - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
            - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=ovh"
            # - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
            - "--certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=213.251.188.146:53"
            - "--certificatesresolvers.letsencrypt.acme.email=lukas@patzke.me"
            - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
            # Pilot
            - "--pilot.token=${TRAEFIK_PILOT_TOKEN}"
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.traefik.entrypoints=websecure"
            - "traefik.http.routers.traefik.rule=Host(`traefik.l3s.io`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
            - "traefik.http.routers.traefik.service=api@internal"
            - "traefik.http.routers.traefik.middlewares=auth"

            - "traefik.http.routers.local-api.entrypoints=local-api"
            - "traefik.http.routers.local-api.rule=PathPrefix(`/api`)"
            - "traefik.http.routers.local-api.service=api@internal"

            - "traefik.http.routers.traefikmetrics.entrypoints=websecure"
            - "traefik.http.routers.traefikmetrics.rule=Host(`traefik.l3s.io`) && PathPrefix(`/metrics`)"
            - "traefik.http.routers.traefikmetrics.service=traefikmetrics"
            - "traefik.http.routers.traefik.middlewares=local-ip"
            - "traefik.http.services.traefikmetrics.loadbalancer.server.port=8082"

            # local ips
            - "traefik.http.middlewares.local-ip.ipwhitelist.sourcerange=172.16.0.0/12, 192.168.0.0/16, 10.2.0.0/16,  10.1.0.0/16"
        extra_hosts:
            - host.docker.internal:172.21.0.1

    forward-auth:
        image: thomseddon/traefik-forward-auth:2
        restart: always
        container_name: forward-auth
        networks: 
            - proxy
        environment: 
            - PROVIDERS_OIDC_CLIENT_ID=forward-auth
            - PROVIDERS_OIDC_CLIENT_SECRET=$KEYCLOAK_CLIENT_SECRET
            - PROVIDERS_OIDC_ISSUER_URL=https://auth.l3s.io/realms/l3s
            - DEFAULT_PROVIDER=oidc
            - SECRET=$COOKIE_SECRET
            - AUTH_HOST=forward.auth.l3s.io
            - COOKIE_DOMAIN=l3s.io
            - LIFETIME=3600
            - LOG_LEVEL=debug
            - TZ=Europe/Berlin
            - LOGOUT_REDIRECT=https://l3s.io
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.forward-auth.rule=Host(`forward.auth.l3s.io`)"
            - "traefik.http.routers.forward-auth.entrypoints=websecure"
            - "traefik.http.services.traefik-forward-auth.loadbalancer.server.port=4181"
            - "traefik.http.routers.forward-auth.middlewares=auth"
            # auth middleware
            - "traefik.http.middlewares.auth.forwardauth.address=http://forward-auth:4181"
            - "traefik.http.middlewares.auth.forwardauth.authResponseHeaders=X-Forwarded-User"
            - "traefik.http.middlewares.auth.forwardAuth.trustForwardHeader=true"

networks:
    proxy:
        external: true