version: "3.7"

volumes:
    portainer:
    homepage:
    unifi:

services:
    portainer:
        image: portainer/portainer-ee
        restart: always
        container_name: portainer
        volumes:
            - '/var/run/docker.sock:/var/run/docker.sock'
            - 'portainer:/data'
        ports:
            - 9000:9000
        networks: 
            - proxy
        labels: 
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.portainer.rule=Host(`portainer.l3s.io`)"
            - "traefik.http.services.portainer.loadbalancer.server.port=9000"
            - "traefik.http.routers.portainer.entrypoints=websecure"
            - "traefik.http.routers.portainer.middlewares=auth"
           
    unifi-controller:
        image: lscr.io/linuxserver/unifi-controller
        container_name: unifi-controller
        environment:
            - PUID=1000
            - PGID=1000
            - MEM_LIMIT=1024 #optional
            - MEM_STARTUP=1024 #optional
        volumes:
            - unifi:/config
        ports:
            - 3478:3478/udp
            - 10001:10001/udp
            - 8080:8080
            # - 8443:8443
            - 1900:1900/udp #optional
            # - 8843:8843 #optional
            # - 8880:8880 #optional
            - 6789:6789 #optional
            - 5514:5514/udp #optional
        restart: unless-stopped
        networks: 
            - proxy
        labels: 
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.unifi-controller.rule=Host(`controller.l3s.io`)"
            - "traefik.http.routers.unifi-controller.entrypoints=websecure"
            - "traefik.http.routers.unifi-controller.middlewares=local-ip"
            - "traefik.http.services.unifi-controller.loadbalancer.server.port=8443"
            - "traefik.http.services.unifi-controller.loadbalancer.server.scheme=https"
            - "traefik.http.services.unifi-controller.loadbalancer.serverstransport=insecure@file"
    
    homepage:
        image: lukaspatzke/homepage:edge
        container_name: homepage
        restart: always
        networks: 
            - proxy
        volumes:
            - homepage:/data
        environment:
            - TZ=Europe/Berlin
            - DB_CONN=sqlite:////data/db.sqlite
            - SIGNOUT_REDIRECT_URL=https://auth.l3s.io/realms/l3s/protocol/openid-connect/logout
        labels: 
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.homepage.rule=Host(`l3s.io`)"
            - "traefik.http.routers.homepage.entrypoints=websecure"
            - "traefik.http.routers.homepage.middlewares=auth"

    speedtest:
        image: openspeedtest/latest
        container_name: speedtest
        restart: unless-stopped
        networks: 
            - proxy
        labels: 
            - "traefik.enable=true"
            - "traefik.docker.network=proxy"
            - "traefik.http.routers.speedtest.rule=Host(`speedtest.l3s.io`)"
            - "traefik.http.routers.speedtest.entrypoints=websecure"
            - "traefik.http.routers.speedtest.middlewares=local-ip, limit"
            # Set request body size for traefik https://github.com/openspeedtest/Speed-Test/issues/4
            - "traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=10000000000"
        
networks:
    proxy:
        external: true
